.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 16px 0 40px;
}

.article > * {
  width: 100%;
  max-width: calc(var(--reading-width) + 2 * var(--gutter));
  padding-inline: var(--gutter);
}

.article > [data-bleed] {
  max-width: none;
  padding-inline: 0;
}
