.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 120px var(--gutter);
  text-align: center;
}

.text {
  font-family: var(--font-geist);
  font-size: 18px;
  line-height: 1.45;
  color: var(--color-grey);
}
